/*
Page layout general
*/
body{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    height: 100%;
}
/*
Layout do painel
*/
.dashboard{
    position: absolute;
    width: 190px;
    border-top:1px solid #FFF ;
    background-color: #FFF;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: start
}
.lifeboard{
    width: 100%;
}
.timerArea{
    font-size: 24px;
}
/*
Display do mosquito
*/
.mosquito1, .mosquito2, .mosquito3{
    position: absolute;    
}
.mosquito1{
    width: 50px;
    height: 50px;
}
.mosquito2{
    width: 70px;
    height: 70px;
}
.mosquito3{
    width: 90px;
    height: 90px;
}
.facingL{
    transform: scaleX(1);
}
.facingR{
    transform: scaleX(-1);
}
/*sm-align*/
.sm-align{
    margin-top: 1%;
}
@media (max-width: 720px) {
    .sm-align{
        margin-top: 25%;
    }    
}